<!doctype html>
{%load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <h1> Gestion des Contacts</h1>
            </nav>

        <main role="main" class="container top-pushed">
            <div class="jumbotron">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}">
        </script>
    </body>
</html>
