{% extends "base_myform.html" %}
    {% load static %}
    {% block title %}
    {% if form.name.value %}
        Modifier le contact {{form.firstname.value}} {{form.name.value}}
    {% else %}
        Ajouter un contact
    {% endif %}
    {% endblock %}

    {% block content %}

    {% if form.name.value %}
        <h1>Modifier un contact</h1>
    {% else %}
        <h1>Nouveau contact</h1>
    {% endif %}

    <a href="/contacts/listing" style="margin-bottom: 10px;" type="button" class="btn btn-primary">Voir la liste des contacts</a>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Nom</label>
            <div class="col-10">
                <input class="form-control" type="text" value="{{ form.name.value|default_if_none:"" }}" name="name" id="id_name">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Prenom</label>
            <div class="col-10">
                <input class="form-control" type="text" value="{{ form.firstname.value|default_if_none:"" }}" name="firstname" id="id_firstname">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Email</label>
            <div class="col-10">
                <input class="form-control" type="text" value="{{ form.email.value|default_if_none:"" }}" name="email" id="id_email">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleTextarea">Message</label>
            <textarea class="form-control" name="message" id="id_message" rows="3">{{ form.message.value|default_if_none:"" }}</textarea>
        </div>

        <input type="submit" value="Sauvegarder"/>
    </form>

    {% endblock %}
