{% extends "base_myform.html" %}
    {% load static %}
    {% block title %}
        Détails du contact {{contact.firstname}} {{contact.name}}
    {% endblock %}

    {% block content %}
    <h1>Détails du contact</h1>
    <a href="/contacts/listing" style="margin-bottom: 10px;" type="button" class="btn btn-primary">Voir la liste des contacts</a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">First</th>
          <th scope="col">Email</th>
          <th scope="col">Message</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td>{{contact.id}}</td>
              <td>{{contact.name}}</td>
              <td>{{contact.firstname}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.message}}</td>
          </tr>
      </tbody>
    </table>
    {% endblock %}
