{% extends "base_myform.html" %}
    {% load static %}
    {% block title %}
        Liste de vos contacts
    {% endblock %}

    {% block content %}
    <h1>Liste des contacts</h1>
    <a href="/contacts" style="margin-bottom: 10px;" type="button" class="btn btn-primary">Nouveau contact</a>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          {% for contact in objects %}
              <tr>
                  <td>{{contact.name}}</td>
                  <td>{{contact.firstname}}</td>
                  <td><a href="../detail/{{contact.id}}"><i class="fas fa-info-circle"></i></a></td>
                  <td><a href="../edit/{{contact.id}}"><i class="far fa-edit"></i></a></td>
                  <td><a href="../delete/{{contact.id}}"><i class="fas fa-trash-alt"></i></a></td>
              </tr>
          {% endfor %}
      </tbody>
    </table>

    {% endblock %}
